/* ============= This SCSS File contains most of the Variables of the Project ============= */


/* ==== Primary Color ==== */
$primary_color:#FF7700;

/* ==== Primary light Shades ==== */
$primary_light_100:#FFF7F0;
$primary_light_250:#FFE8D1;
$primary_light_400:#FFAA60;


/* ==== Secondary Color ==== */
$secondary_color:#006B5E;

/* ==== Secondary Color Shades ==== */
$secondary_100:#E0EDEB;
$secondary_400:#00362F;


/* ==== Gradient Primary Colors Shades ==== */
$primary_gradient_one:$primary_color;
$primary_gradient_two:#FFA95F;


/* ==== Gradient Secondary Colors Shades ==== */
$secondary_gradient_one:$secondary_color;
$secondary_gradient_two:#76BEB2;

/* ==== Font Familes ==== */

$raleway:'Raleway', sans-serif;
$open_sans:'Open Sans', sans-serif;

