@use "Styles/appVariables.scss" as *;

.ctaButton {
  border-radius: 8px;
  padding: 10px 30px;
  outline: none;
  min-width: 130px;
  font-weight: bold;
}

.fullWidth {
  display: block;
  width: 100%;
}

.primary {
  cursor: pointer;
  border: 1px solid $primary_color;
  color: $primary_color;
  background: linear-gradient(to right, #fff, #fff);
  transition: color 0.3s linear;
  &:hover {
    border: 1px solid transparent !important;
    color: #fff;
    background: linear-gradient(
      to right,
      $primary_gradient_one,
      $primary_gradient_two
    );
    box-shadow: 0px 5px 30px -8px rgb(255, 123, 0);
  }
  &:active {
    border: 0px solid transparent !important;
    background: linear-gradient(to right, #cd6000, #cd6000);
    color: #fff;

  }
}

.disable {
  border: 1px solid #bfcad4;
  background: transparent;
  color: #bfcad4;
}

.loading {
  border: 1px solid $primary_color;
  color: #fff;
  background: transparent;
  padding: 7px 30px;

  img {
    animation: spinner 1s linear infinite;
  }
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 210px) {
button{
  padding: 10px ;
}
}